.btn {
    display: flex;
    text-decoration: none;
    background-color: black;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: rgb(252, 249, 249);
    font-size: 18px;
    font-weight: 600;
}