.banner{
    display: flex;
    height: 600px;

}

.box-data {
    width: 40%;
    background-color: rgb(226, 233, 233);
    margin-right: 20px;
    padding: 50px 0px 50px 40px;
}
 .box-img{
    width: 60%;
 }
 .banner-img{
    width: 100%;
    height: 100%;
 }
 .title {
    font-size: 50px;
    font-weight: 700;
    width: 50%
    ;
 }
 
 .description{
    font-size: 24px;
    font-weight: 400;
    width: 50%;
 }
 @media screen and (max-width: 1000px) {
   .banner{
      height: 400px;
   }
   .title {
      font-size: 30px;
      width: 80%;
   
   }
   
   .description{
      font-size: 18px;
      width: 80%;
   }
 }
 @media screen and (max-width: 600px) {
   .box-img{
      display: none;
   }

   .box-data{
      width: 100%;
      margin-right: 0px;
      background-image: url("../../images/qwer.webp");
   }
   .title {
      color: aliceblue;
   
   }
   
   .description{
      color: aliceblue;
   }
   .banner{
      height: 300px;
   }
 }